<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>weCare</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">

    <!--Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#"><img class="img-responsive" src="img/leftovr_logo.png" style="max-height:1.5em;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="organizations">Donors
                <!-- A page with the donations page with the option to form -->
              </a>
            </li>

            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="shelters">Shelters</a>
              <!-- A page with just the donations page, no option to form to post --> 
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/foodfallv2.png" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper"><em>Leftovers</em> don't have to mean food waste.</span>
              <span class="section-heading-lower">Leftovers can <em>reduce</em> it.</span>
            </h2>
            <p class="mb-3">Help us reduce food waste, and aid in feeding the hungry at the same time.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-m" href="#">Sign Up Here</a>
                <p style="font-size:0.5em">Already have an account? Log in <a href="#">here.</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
      

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="text-center">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper"></span>
                <span class="section-heading-lower">The Problem</span>
              </h2>
              <p class="mb-0">Roughly one third of the food produced in the world for human consumption is lost or wasted. Food waste not only amounts to a wasted resource, but also a costly one, amounting to $310 billion every year in developing countries. Consumers don’t purchase all the food available, leaving restaurants, supermarkets, and grocery stores to throw out “unattractive food”, throwing away food that is perfectly safe for consumption.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
      
      <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="text-center">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">LEFTOVR's</span>
                <span class="section-heading-lower">SOLUTION</span>
              </h2>
              <p class="mb-0">LEFTOVR streamlines the process in which charitable organizations to access food donations, relieving the need to search for food donors and for institutions to donate to. Focusing on reducing food waste and providing a streamlined service to both food donors and charitable organizations—this platform aims to reduce food waste by also offering food to those in need, and providing a socially responsible way of clearing out “unsellable” food.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
      
      <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="text-center">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper"></span>
                <span class="section-heading-lower">WHY DONATE?</span>
              </h2>
              <p class="mb-0">By donating, food donors use an alternative way to clear out “unsellable” food, and also are reimbursed in advertising through LEFTOVR and it's partners—gaining positive PR through social change.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
      
      <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="text-center">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper"></span>
                <span class="section-heading-lower">SOME OF OUR TOP DONATORS</span>
              </h2>
              <a href="#"><img class="img-responsive" src="img/walmartgrayscale.png" style="max-height:3em;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img class="img-responsive" src="img/loblawsgrayscale.png" style="max-height:2em;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img class="img-responsive" src="img/wholefoodsgrayscale.png" style="max-height:3em;"></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; 欠 を 食べる</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
